# Jekyll export files
_site
.sass-cache
.jekyll-metadata
.jekyll-cache

# Binary files
*.xcf

# Python export files
__pycache__/

# Other
\.DS_Store
*.swp
*.un~
*.swo

# Workig directories and files
assets/vid/
tea/*/*-raw.jpg

# Metafiles
_meta/

# Verification files
scripts/login.py
google*.html

# Non-public files
contact.md
xkcd.md
tea.md
todo.md

# large media
*.mp4

# Scripts
makefile
assets/music-reports
single-pages/secret
pages/secret
