# Jekyll export files
_site
.sass-cache
.jekyll-metadata
.jekyll-cache

# Binary files
*.xcf

# Python export files
__pycache__/

# Other
\.DS_Store
*.swp
*.un~
*.swo

# workig directories
assets/vid/
_graphics/
_materials/
tea/*/*-raw.jpg

# Metafiles
contact.md
tea.md
todo.md

# Verification files
scripts/login.py
google*.html
