<article>
	{% assign sorted_categories = site.categories | sort %}
	{% for category in sorted_categories %}
		<div class="archive-list">
			<div id="{{ category | first | downcase }}">
				<h2>{{ category | first }}</h2>
			</div>
			{% assign sorted_posts = category.last | sort: "date" | reverse %}
			{% for post in sorted_posts %}
				{% if post.bilingual and post.bilingual != "" %}
					{% if post.language == page.main_lang %}
					<ul class="hfill">
						<li><a href="{{ post.url }}">{{ post.title }}</a></li>
						<li>
							[<a href="{{ post.url }}">EN</a>/<a href="{{ post.bilingual }}">CZ</a>] <div class="archive-date">{{ post.date | date: "%d. %m. %Y" }}</div>
						</li>
					</ul>
					{% endif %}
				{% else %}
				<ul class="hfill">
					<li><a href="{{ post.url }}">{{ post.title }}</a></li>
					<li>[<a href="{{ post.url }}">{{ post.language }}</a>] <div class="archive-date">{{ post.date | date: "%d. %m. %Y" }}</div></li>
				</ul>
				{% endif %}
			{% endfor %}
		</div>
	{% endfor %}
</article>
