<div class="project-card">
	<h2>{{- include.name -}}</h2>
	<hr/>
	<p>
		{{- include.description | markdownify | liquify -}}
	</p>
	<ul>
		<li><b>Used technology:  </b>{{- include.used_tech -}}</li>
		{%- if include.license -%}<li><b>License:  </b>{{- include.license -}}</li>{%- endif -%}
		{%- if include.link -%}<li><b>Link:  </b><a href="{{- include.link -}}">{{- include.link -}}</a></li>{%- endif -%}
		{%- if include.repo -%}
		<li><b>Repository:  </b><a href="{{- include.repo -}}">{{- include.repo | replace: "https://", "" -}}</a></li>
		{%- endif -%}
	</ul>
	{%- if include.image -%}
	<br/>
	<img src="{{include.image}}" alt="{{include.name}}">
	{%- endif -%}
</div>
