<div class="project-card">
	<h2>{{include.name}}</h2>
	<hr/>
	<p>
		{{include.description | markdownify | liquify | remove: "<p>" | remove: "</p>" }}
	</p>
	<b>Used technology:  </b> {{include.used_tech}}
	{% if include.repo %}
		<br/>
		<div style="display:inline-block;">
			<a href="{{include.repo}}">
				<!--
				<svg style="width: 10vw">
					<use xlink:href="/assets/fontawesome/icons.svg#github"></use>
				</svg>
				-->
				<span>Repository</span>
			</a>
		</div>
	{% endif %}
	<img src="{{include.image}}" alt="{{include.name}}">
	<br/>
</div>
