---
---

@import index, highlight

{% unless site.minimal %}

.categories
  color: #68f
  margin-bottom: .15em

{% endunless %}

.logo
  height: 100px
  width: auto
  margin-left: 20px
  max-width: 6em
  max-height: 6em

{% unless site.navigation and site.external %}

.title
  font-size: 1.3em
  margin: .2em 0

{% endunless %}

{% if site.sidebar %}

.hidden
  display: none

{% endif %}

{% if site.sidebar or site.external %}

.icons svg
  height: 1em
  width: 1em
  fill: currentColor
  transition: .2s color
  vertical-align: middle
  margin-bottom: .15em

{% endif %}

{% if site.show_excerpts %}

.more
  margin: 2em 0 1em

.more a
  border-radius: 2px
  border: 1.5px solid $link-color
  padding: .4em .8em
  transition: .2s

.more a:hover
  color: #fff
  background: $link-color
  text-decoration: inherit

{% endif %}

{% unless site.show_excerpts %}

.archive
  font-size: 1.1em

.archive time
  display: inline-block
  min-width: 8ch
  margin: 0 .2em

{% endunless %}

{% if site.show_related %}

.related span
  display: block
  color: reduce(100)

.related a
  font-size: 1.2em
  font-weight: bold

.next
  text-align: right

{% endif %}

{% if site.show_title and site.navigation and site.external %}

.title
  font-size: 1.5em
  width: 100%
  margin: .1em 0 .6em

{% endif %}

{% unless site.sidebar %}

.icons a:hover svg
  color: reduce(100)

@media (min-width: 70em)
  .large
    margin: 1em -20%
  
  .large img
    width: 100%

{% endunless %}

.small img
  max-height: 200px
  margin: 10px

.big-button
  -webkit-appearance: button
  -moz-appearance: button
  appearance: button
  
  //background: url("/assets/meta/reddit-icon.png") no-repeat left center
  background-position: 10px 20px
  background-size: 10%
  padding: 20px 64px
  background-color: #17181c
  text-align: right
  display: inline-block
  border: solid white
  width: fit-content
  margin: 1em auto
  display: table
  font-size: 150%
  color: white

.big-button:hover
  font-weight: bold
  text-decoration: none

.photogrid
  margin: 0 auto
  display: -webkit-box
  display: -ms-flexbox
  display: flex
  -ms-flex-wrap: wrap
  flex-wrap: wrap
  -webkit-box-pack: center
  -ms-flex-pack: center
  justify-content: center

.wrapper
  padding: 1rem 0
  background: rgba(109, 109, 112, 0.15);
  color: #e4e4e8
  text-align: center

.photogrid-item figure
  background: #17181c
  padding: 10px
  margin: 10px
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.1)

.photogrid-item figure img
  display: block
  max-width: 200px
  heigth: auto

.photogrid-item figcaption
  display: block
  padding: 15px
  background: #474952

.project-wrapper
  float: left
  display: flex
  flex-wrap: wrap

.project-card
  display: inline-block
  position: relative
  margin: 1%
  flex: 1 1 100%
  float: left
  padding: 15px
  background-color: #131317

  img
    border-radius: 5px
    text-align: center
    display: block
    margin-left: auto
    margin-right: auto

  *
    margin: 5px

