---
---

@import index, font, basic, layout

@media (max-width: 1100px)
  .archive-list
    width: 100%

@media (max-width: 550px)
  .archive-date
    display: none
  nav
    text-align: center

@media (min-width: 32em)
  body > header, body > article, body > footer
    padding: 1.5em calc(38% - 12em)

@media only screen and (max-width: 400px)
  .band-logo
    max-width: 60px

@media only screen and (max-width: 600px)
  .band-logo
    max-width: 130px
  nav
    text-align: center

@media only screen and (max-width: 80px)
  .band-logo
    max-width: 200px

