---
title: "Projects"
permalink: "/projects/"
layout: page
switch_pages: ["projects-new", "projects-web"]
---

{% assign projects = site.projects | sort: 'date' | reverse %}

{% assign project_categories = "" | split: "" %}
{% for p in projects %}
	{% unless project_categories contains p.category %}
		{% assign project_categories = project_categories | push: p.category %}
	{% endunless %}
{% endfor %}

{% for cat in project_categories %}
	{% assign cat_slug = cat | slugify %}
	<h2 id="{{ cat_slug }}">{{ cat }}</h2>
	{% for p in projects %}
		{% if p.category != cat %}
			{% continue %}
		{% endif %}
		<article class="project-card">
			<ul class="hfill" style="width: 100%;">
				<li id="{{- p.name | slugify -}}"><h3>{{- p.name -}}</h3></li>
				{% if p.license %}
					<li><h3>[<a href="{%- if p.repo -%}{{- p.repo -}}{%- elsif p.webpage -%}{{- p.webpage -}}{%- endif -%}">{{- p.license -}}</a>]</h3></li>
				{%- endif -%}
			</ul>
			<hr/>
				{{- p.content | markdownify | liquify -}}
			<dl>
				{%- if p.used_tech -%}<div><dt>Used technology:</dt> <dd>{{- p.used_tech -}}</dd></div>{%- endif -%}
				{%- if p.author -%}<div><dt>Author:</dt> <dd>{{- p.author -}}</dd></div>{%- endif -%}
				{%- if p.version -%}<div><dt>Version:</dt> <dd>{{- p.version -}}</dd></div>{%- endif -%}
				{%- if p.license -%}<div><dt>License:</dt> <dd>{{- p.license -}}</dd></div>{%- endif -%}
				{%- if p.link -%}<div><dt>Link:</dt> <dd><a href="{{- p.link -}}">{{- p.link -}}</a></dd></div>{%- endif -%}
				{%- if p.repo -%}
				<div><dt>Repository:</dt> <dd><a href="{{- p.repo -}}">{{- p.repo | replace: "https://", "" -}}</a></dd></div>
				{%- endif -%}
			</dl>
			{%- if p.image -%}
			<br/>
			<img src="{{p.image}}" alt="{{p.name}}">
			{%- endif -%}
		</article>
	{% endfor %}
{% endfor %}
