<article class="project-card">
	<h2>{{- include.name -}}</h2>
	<hr/>
		{{- include.description | markdownify | liquify -}}
	<dl>
		{%- if include.used_tech -%}<div><dt>Used technology:</dt> <dd>{{- include.used_tech -}}</dd></div>{%- endif -%}
		{%- if include.author -%}<div><dt>Author:</dt> <dd>{{- include.author -}}</dd></div>{%- endif -%}
		{%- if include.version -%}<div><dt>Version:</dt> <dd>{{- include.version -}}</dd></div>{%- endif -%}
		{%- if include.license -%}<div><dt>License:</dt> <dd>{{- include.license -}}</dd></div>{%- endif -%}
		{%- if include.link -%}<div><dt>Link:</dt> <dd><a href="{{- include.link -}}">{{- include.link -}}</a></dd></div>{%- endif -%}
		{%- if include.repo -%}
		<div><dt>Repository:</dt> <dd><a href="{{- include.repo -}}">{{- include.repo | replace: "https://", "" -}}</a></dd></div>
		{%- endif -%}
	</dl>
	{%- if include.image -%}
	<br/>
	<img src="{{include.image}}" alt="{{include.name}}">
	{%- endif -%}
</article>
